a {
    text-decoration: none;
    color: black;
}

h5, p {
    color: black !important;
}

.card-header {
    font-weight: 700 !important;
}

.foro {
    padding: 5px;
}

.img-fluid {
    max-height: 100%;
}

img {
    width: 55px;
    height: 55px;
}

.img {
    text-align: center;
}