<div class="separator animate__animated animate__fadeIn animate__faster">
    <div class="right" *ngIf="usuario.id != 0">
        <a [href]="'/post/' + id_foro" class="btn bg-animated">Publicar</a>
    </div>
    <br>
    <div class="card-header bg-animated">
        <h5>{{ ( foro$ | async )?.nombre }}</h5>
        <p>{{ ( foro$ | async )?.descripcion }}</p>
    </div>
    <div *ngFor="let tema of (temas$ | async)">
        <div class="card-body">
            <app-topic id_tema="{{tema.id}}"></app-topic>
        </div>
    </div>
    
    <br>
    <div class="right" *ngIf="usuario.id != 0">
        <a [href]="'/post/' + id_foro" class="btn bg-animated">Publicar</a>
    </div>
    
</div>
<br>