<br>
<div class="content animate__animated animate__fadeIn animate__faster">
    <h1>{{ (topic$ | async)?.titulo }}</h1>
    <div class="info">
        <h5>Por: {{ (topic$ | async)?.escritor }}<br>[ {{ (topic$ | async)?.apodo_escritor}} ]</h5>
        <h5>Tipo: <button class="btn bg-animated btn-sm">{{ (topic$ | async)?.tipo }}</button></h5>
        <h5>Fecha: <button class="btn bg-animated btn-sm">{{ (topic$ | async)?.fecha | date:'medium' }}</button></h5>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <pre>{{ (topic$ | async)?.cuerpo }}</pre>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <div class="card border-gradient">
                    <div class="card-body text-center">
                      <h5 class="card-title text-center"><a [href]="'/user/' + (topic$ | async)?.id_usuario_fk" class="btn bg-animated btn-sm">{{ (topic$ | async)?.apodo_escritor }}</a></h5>
                      <div class="foto">
                        <img [src]="(topic$ | async)?.foto" class="img-fluid">
                      </div>
                      <br>
                      Última Conexión: 
                      <p class="text-center">{{ (topic$ | async)?.ultima_visita | date:'medium' }}</p>
                      <p class="text-center">{{ (topic$ | async)?.pais }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
<ng-template ngIf="usuario.id == (topic$ | async)?.id_usuario_fk"><button class="btn bg-animated">Borrar tema</button></ng-template>

