<br>
<div class="content animate__animated animate__fadeIn animate__faster">
    <h1>{{ topic.titulo }}</h1>
    <div class="info">
        <h5>Por: {{ topic.escritor }}<br>[ {{topic.apodo_escritor}} ]</h5>
        <h5>Tipo: <button class="btn bg-animated btn-sm">{{ topic.tipo }}</button></h5>
        <h5>Fecha: <button class="btn bg-animated btn-sm">{{ topic.fecha | date:'medium' }}</button></h5>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <p>{{ topic.cuerpo }}</p>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-12">
                <div class="card border-gradient">
                    <div class="card-body text-center">
                      <h5 class="card-title text-center"><a [href]="'/user/' + topic.id_usuario_fk" class="btn bg-animated btn-sm">{{ topic.apodo_escritor }}</a></h5>
                      <div class="foto">
                        <img [src]="topic.foto" class="img-fluid border-full-gradient">
                      </div>
                      <br>
                      Última Conexión: 
                      <p class="text-center">{{ topic.ultima_visita | date:'medium' }}</p>
                      <p class="text-center">{{ topic.pais }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>
