.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media (max-width: 500px) {
    .info {
      flex-direction: column;
    }
  }

h5 {
    padding: 10px;
}

.foto {
    height: 100px !important;
    text-align: center;
}

img {
    height: 100%;
}

pre {
    color: black;
    font-size: large;
    white-space: normal !important;
    word-break: break-word;
}